 <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
               Add users in {{currentGroup}} group
            </div>
            <div class="panel-body">
                <ul class="media-list">
                  
                    <li class="media">

	                    <div class="media-body">

	                        <div class="media"  ng-repeat="user in allUsers" ng-click = "" >{{user}}
	                            <a class="pull-left" href="#">
	                                <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
	                            </a>
	                            <div class="media-body" >
	                                <h5>{{user.email}} | {{user.mobile}} </h5>
	                                <button ng-click="addInGroup(user)">Add</button>
	                               <small class="text-muted">Active From 3 hours</small>
	                            </div>
	                        </div>

	                    </div>
	                </li>
	            </ul>
                </div>
            </div>
        
    </div>